.container {
    margin-left: 19%;
    margin-top: 5%;

}



.box {
    margin-top: 10px;
    width: 350px;
    background-color: #001CF9;
    justify-content: space-evenly;
    padding: 3%;
    height: 450px;
    margin-left: 5%;
    

}

.form-control {

    padding-top: 1px;
    padding-bottom: 0px;
   margin-bottom: 0px;
}



.lin{
    text-decoration: none;
    color: white;
    margin-left: 3px;
}

h3{
    color: white;
}
.errors{
    color:white;
}
h2{
    text-align: justify;
}
a{
    text-decoration: none;
    color: black;
}
.btn-light{
    margin-left: 15%;
    color:blue;
    background-color:white;
    margin-top: 3%;
}